*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to top, #ffffff 55%, #8d01ff 70%);
    margin: 0;
    padding: 0;
    min-width: 825px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 5vh 2vw;
    padding: 2.5vh 2.5vw;
    position: relative;
    overflow: hidden;
}

.grid-container::before{
    content: '';
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 65%; 
    background-color: #ddcef5;
    border-radius: 2em 2em 0 0; 
    z-index: -1; 
}

.image-container{
    height: 13em;
    width: 13em;
    justify-self: center;
}



.image-container:nth-child(2){
    background-image: url(../Recursos/img/ladron.png);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}



.text-container {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 3em;
    font-size: 15px;
}

.text-container > p {
    
    text-align: center;
    text-shadow: 1px 1px 2px  #ffffff;
    font-weight: 500;
    font-size: 1rem;
    
}

.text-container:nth-child(3){
    background-color: transparent;
    grid-column: span 3;
    text-align: center;
}

.scroll-space{
    height: 10vh;
    background-color: #ddcef5;
}

.image-container:nth-child(4),
.image-container:nth-child(5),
.image-container:nth-child(6){
    position: relative; 
    width: 220px;
    height: 305px; 
    justify-self: center;
    background-size: cover;
    border: 2px solid #000;
    border-radius: .5em;
    box-shadow: 5px 5px 10px #000;
}


.image-container:nth-child(4)::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 305px; 
    border-radius: .5em;
    background-image: url(../Recursos/img/inicio-card-1.jpg);
    background-size: cover;
    z-index: -1;
}

.image-container:nth-child(5)::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 305px; 
    border-radius: .5em;
    background-image: url(../Recursos/img/inicio-card-2.jpg);
    background-size: cover;
    z-index: -1;
}

.image-container:nth-child(6)::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 305px; 
    border-radius: .5em;
    background-image: url(../Recursos/img/inicio-card-3.jpg);
    background-size: cover;
    z-index: -1;
}

.image-container:nth-child(4):hover::before,
.image-container:nth-child(5):hover::before,
.image-container:nth-child(6):hover::before {
    filter: blur(5px);
}

#inicio-card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative;
}

#inicio-card p{
    text-align: center;
    opacity: 0;
    color: #fff;
    font-size: 13px;
    font-weight: bolder;
}

#inicio-card:hover p{
    opacity: 1;
    margin: 0 10px;
}

#inicio-card button{
    opacity: 0;
    margin-top: 20px;
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
}

#inicio-card:hover button{
    opacity: 1;
}
@media only screen and (max-width: 767px) {
    .scroll-space{
        height: 3vh;
    }
    @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr; /* Cambia a una sola columna */
      display: flex;
      flex-direction: column;
      align-items: center
    }
    *{
        color: white;
    }
  }
}
